/* --- Mobile  */
@media (max-width: 739px) {
     .s-col-full {
          width: 100%;
     }
     .nav-list {
          display: none;
     }

     
}
/* --- Mobile & Tablet  */
@media (max-width: 1023px) {
     .project-list {
          display: block;
     }

     .about-list {
          display: block;
     }

     .about-item .about-contact {
          background-color: #ccc;
     }

     #contact .contact-btn {
          width: 100%;
          padding: 16px;
     }

     .footer p {
          font-size: 24px;
     }
}


/* --- Tablet  */
@media (min-width:740px) and (max-width: 1023px) {
     .m-col-half {
          width: 50%;
          float: left;
     }

     
}

/* --- Pc  */
@media (min-width: 1024px) {
     
}
